<div class="row">
	<div class="col-xs-12 dv-input-container-question">
		<div class="form-group">
			<span class="ebegu-h1 required">{{'FINANZIELLE_SITUATION_STEUERVERANLAGUNG' | translate:{basisjahr: gesuchModelManager.getBasisjahr(), basisjahrPlus: gesuchModelManager.getBasisjahrPlus(1)} }}</span>
			<dv-input-container-x [verticalAlign]="true">
				<dv-radio-container-x>
					<mat-radio-group
							aria-labelledby="steuerveranlagungErhalten_id"
							name="steuerveranlagungErhalten"
							required
							dvEnableElement
							[enableExpression]="!gesuchModelManager.isGesuchReadonly() && !gesuchModelManager.isKorrekturModusJugendamt()"
							[ngModel]="model.finanzielleSituationJA.steuerveranlagungErhalten"
							(ngModelChange)="setSteuerveranlagungErhalten($event)">
						<mat-radio-button [value]="true">{{'LABEL_JA' | translate }}</mat-radio-button>
						<mat-radio-button [value]="false">{{'LABEL_NICHT_ERHALTEN_ODER_QUELLENBESTEUERT' | translate }}</mat-radio-button>
					</mat-radio-group>
				</dv-radio-container-x>
			</dv-input-container-x>
		</div>
	</div>
</div>
