<div *ngIf="showZugriffFailed()"
     class="well well-status-warten minus-margin">
    <p class="ebegu-h3"
       translate>FINANZIELLE_SITUATION_STEUERDATEN_ZUGRIFF_FAILED</p>
</div>

<div *ngIf="showWarningKeinPartnerGemeinsam()"
     class="well well-status-warten minus-margin">
    <p class="ebegu-h3"
       translate>FINANZIELLE_SITUATION_STEUERDATEN_ZUGRIFF_KEIN_PARTNER_GEMEINSAM</p>
</div>

<div *ngIf="showWarningGeburtsdatum()"
     class="well well-status-warten minus-margin">
    <p class="ebegu-h3"
       translate>FINANZIELLE_SITUATION_STEUERDATEN_ZUGRIFF_FAILED_GEBURTSDATUM</p>
</div>

<div *ngIf="showZugriffUnterjaehrigeFall()"
     class="well well-status-warten minus-margin">
    <p class="ebegu-h3"
       translate>FINANZIELLE_SITUATION_STEUERDATEN_ZUGRIFF_UNTERJAEHRIG</p>
</div>

<div *ngIf="showZugriffErfolgreich()"
     class="well well-status-bestaetigt minus-margin">
    <p class="ebegu-h3"
       translate>FINANZIELLE_SITUATION_STEUERDATEN_ZUGRIFF_ERFOLGREICH</p>
</div>
