.lastenausgleich-ts-container {
    display: flex;
    width: 100%;
    height: 100%;

    dv-lastenausgleich-ts-side-nav {
        width: 35.5rem;
        background-color: yellow;
    }

    dv-lastenausgleich-ts-kommentar {
        width: 45rem;
        background-color: blue;
    }

    .antrag {
        flex-grow: 1;
    }
}
