<div class="row">
    <div class="col-md-10">
        <div id="titleText">
            <h3 class="ng-scope" translate>FAELLE_LIST</h3>
        </div>
        <div id="refreshIcon">
            <i class="fa fa-undo" dv-st-reset-search=""></i>
        </div>
    </div>
    <div class="col-md-2 text-right">
        <h3>{{totalItems}}</h3>
    </div>
</div>

<div class="mat-elevation-z0">
    <mat-table [dataSource]="datasource" matSort (matSortChange)="sortData($event)">

        <ng-container matColumnDef="fallNummer">
            <mat-header-cell mat-sort-header="fallNummer" *matHeaderCellDef class="ellipsis">
                <span class="no-padding-left" translate>FALL</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="ellipsis">{{element.fallNummer}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="gemeinde">
            <mat-header-cell mat-sort-header="gemeinde" *matHeaderCellDef class="ellipsis">
                <span translate>GEMEINDE</span></mat-header-cell>
            <mat-cell *matCellDef="let element" class="ellipsis">{{element.gemeinde}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="familienName">
            <mat-header-cell mat-sort-header="familienName" *matHeaderCellDef class="ellipsis">
                <span translate>FAMILIE</span></mat-header-cell>
            <mat-cell *matCellDef="let element" class="ellipsis">{{element.familienName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="kinder">
            <mat-header-cell mat-sort-header="kinder" *matHeaderCellDef><span translate>KINDER</span></mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.kinder}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="antragTyp">
            <mat-header-cell mat-sort-header="antragTyp" *matHeaderCellDef><span translate>TYP</span></mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="periode">
            <mat-header-cell mat-sort-header="gesuchsperiodeString" *matHeaderCellDef><span translate>PERIODE</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.periode}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="aenderungsdatum">
            <mat-header-cell mat-sort-header="aenderungsdatum" *matHeaderCellDef><span translate>GEANDERT</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.aenderungsdatum.format('DD.MM.YYYY')}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell mat-sort-header="status" *matHeaderCellDef><span translate>STATUS</span></mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.status | translate}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="dokumenteHochgeladen">
            <mat-header-cell mat-sort-header="dokumenteHochgeladen" *matHeaderCellDef><span translate>DOKUMENTE_HOCHGELADEN_KURZ</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" translate>{{element.dokumenteHochgeladen != null ?
                (element.dokumenteHochgeladen ? 'LABEL_JA' : 'LABEL_NEIN') :
                ''}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="angebot">
            <mat-header-cell mat-sort-header="angebote" *matHeaderCellDef><span translate>ANGEBOT</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngFor="let angebot of element.angebote; index as i">{{angebot | translate}}{{i
                < element.angebote.length - 1 ? ',' : ''}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="institution">
            <mat-header-cell mat-sort-header="institutionen" *matHeaderCellDef><span translate>INSTITUTION</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.institutionen}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="verantwortlicheTS">
            <mat-header-cell mat-sort-header="verantwortlicherTS" *matHeaderCellDef translate>
                <i class="fa fa-graduation-cap"></i><span translate>VERANTWORTLICH</span></mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.verantwortlicheTS}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="verantwortlicheBG">
            <mat-header-cell mat-sort-header="verantwortlicherBG" *matHeaderCellDef>
                <i class="fa fa-gift"></i><span translate>VERANTWORTLICH</span></mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.verantwortlicheBG}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="fall-filter">
            <mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <input matInput (keyup)="filterFall($event.target.value)">
                </mat-form-field>
            </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="gemeinde-filter">
            <mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field floatLabel="never">
                    <div class="select-background"></div>
                    <mat-label translate>ALLE</mat-label>
                    <mat-select (selectionChange)="filterGemeinde($event.value)" panelClass="mat-select-panel1">
                        <mat-option><span translate>ALLE</span></mat-option>
                        <mat-option *ngFor="let gemeinde of gemeindenList"
                                    [value]="gemeinde.name">{{gemeinde.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="type-filter">
            <mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field floatLabel="never">
                    <div class="select-background"></div>
                    <mat-label translate>ALLE</mat-label>
                    <mat-select (selectionChange)="filterType($event.value)" panelClass="mat-select-panel1">
                        <mat-option selected><span translate>ALLE</span></mat-option>
                        <mat-option *ngFor="let type of getAntragTypen()" [value]="type">
                            <span translate>{{type}}</span></mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="status-filter">
            <mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field floatLabel="never">
                    <div class="select-background"></div>
                    <mat-label translate>ALLE</mat-label>
                    <mat-select (selectionChange)="filterStatus($event.value)" panelClass="mat-select-panel1">
                        <mat-option selected><span translate>ALLE</span></mat-option>
                        <mat-option *ngFor="let status of getAntragStatus()"
                                    [value]="status"><span translate>{{status}}</span></mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="angebote-filter">
            <mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field floatLabel="never">
                    <div class="select-background"></div>
                    <mat-label translate>ALLE</mat-label>
                    <mat-select (selectionChange)="filterAngebot($event.value)" panelClass="mat-select-panel1">
                        <mat-option selected><span translate>ALLE</span></mat-option>
                        <mat-option *ngFor="let angebot of getBetreuungsangebotTypen()"
                                    [value]="angebot"><span translate>{{angebot}}</span></mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="periode-filter">
            <mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field floatLabel="never">
                    <div class="select-background"></div>
                    <mat-label translate>ALLE</mat-label>
                    <mat-select (selectionChange)="filterPeriode($event.value)" panelClass="mat-select-panel1">
                        <mat-option selected><span translate>ALLE</span></mat-option>
                        <mat-option *ngFor="let periode of gesuchsperiodenList"
                                    [value]="periode">{{periode}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="dokumente-hochgeladen-filter">
            <mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field floatLabel="never">
                    <div class="select-background"></div>
                    <mat-label translate>ALLE</mat-label>
                    <mat-select (selectionChange)="filterDocumentsUploaded($event.value)"
                                panelClass="mat-select-panel1">
                        <mat-option selected><span translate>ALLE</span></mat-option>
                        <mat-option [value]="true"><span translate>LABEL_JA</span></mat-option>
                        <mat-option [value]="false"><span translate>LABEL_NEIN</span></mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-header-cell>
        </ng-container>


        <ng-container matColumnDef="familie-filter">
            <mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <input matInput (keyup)="filterFamilie($event.target.value)">
                </mat-form-field>
            </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="kinder-filter">
            <mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <input matInput (keyup)="filterKinder($event.target.value)">
                </mat-form-field>
            </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="aenderungsdatum-filter">
            <mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <input matInput (keyup)="filterGeaendert($event.target.value)">
                </mat-form-field>
            </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="institutionen-filter">
            <mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field floatLabel="never">
                    <input matInput
                           [placeholder]="'SUCHBEGRIFF_EINGEBEN' | translate"
                           (keyup)="filterInstitution($event.target.value)"
                           [matAutocomplete]="auto">
                </mat-form-field>

                <mat-autocomplete #auto="matAutocomplete"
                                  (optionSelected)="filterInstitution($event.option.value)"
                                  [classList]="'mat-select-panel1'">
                    <mat-option *ngFor="let institution of institutionenList$ | async"
                                [value]="institution.name">{{institution.name}}</mat-option>
                </mat-autocomplete>
            </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="verantwortlich-TS" st-table="">
            <mat-header-cell *matHeaderCellDef="let column">
                <div dvNewUserSelect
                     [showSelectionAll]="true"
                     [angular2]="true"
                     [initialAll]="true"
                     (userChanged)="filterVerantwortlicheTS($event.user)"
                     [schulamt]="true"></div>
            </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="verantwortlich-BG" st-table="">
            <mat-header-cell *matHeaderCellDef="let column">
                <div dvNewUserSelect
                     [showSelectionAll]="true"
                     [angular2]="true"
                     [initialAll]="true"
                     (userChanged)="filterVerantwortlicheBG($event.user)"
                     [sachbearbeiterGemeinde]="true"></div>
            </mat-header-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-header-row
            *matHeaderRowDef="['fall-filter', 'gemeinde-filter', 'familie-filter', 'kinder-filter', 'type-filter','periode-filter',
            'aenderungsdatum-filter', 'status-filter', 'dokumente-hochgeladen-filter','angebote-filter', 'institutionen-filter',
            'verantwortlich-TS', 'verantwortlich-BG']"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>


    </mat-table>
    <mat-paginator [pageIndex]="page"
                   [pageSize]="pageSize"
                   [length]="totalItems"
                   (page)="handlePagination($event)"></mat-paginator>
</div>
