<div class="mat-elevation-z0">
    <table mat-table [dataSource]="datasource">

        <ng-container matColumnDef="fallNummer">
            <th mat-header-cell *matHeaderCellDef translate>FALL</th>
            <td mat-cell *matCellDef="let element">{{element.fallNummer}}</td>
        </ng-container>

        <ng-container matColumnDef="gemeinde">
            <th mat-header-cell *matHeaderCellDef translate>GEMEINDE</th>
            <td mat-cell *matCellDef="let element">{{element.gemeinde}}</td>
        </ng-container>

        <ng-container matColumnDef="familienName">
            <th mat-header-cell *matHeaderCellDef translate>FAMILIE</th>
            <td mat-cell *matCellDef="let element">{{element.familienName}}</td>
        </ng-container>

        <ng-container matColumnDef="kinder">
            <th mat-header-cell *matHeaderCellDef translate>KINDER</th>
            <td mat-cell *matCellDef="let element">{{element.kinder}}</td>
        </ng-container>

        <ng-container matColumnDef="antragTyp">
            <th mat-header-cell *matHeaderCellDef translate>TYP</th>
            <td mat-cell *matCellDef="let element">{{element.type}}</td>
        </ng-container>

        <ng-container matColumnDef="periode">
            <th mat-header-cell *matHeaderCellDef translate>PERIODE</th>
            <td mat-cell *matCellDef="let element">{{element.periode}}</td>
        </ng-container>

        <ng-container matColumnDef="aenderungsdatum">
            <th mat-header-cell *matHeaderCellDef translate>GEANDERT</th>
            <td mat-cell *matCellDef="let element">{{element.aenderungsdatum.format('DD.MM.YYYY')}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef translate>STATUS</th>
            <td mat-cell *matCellDef="let element">{{element.status | translate}}</td>
        </ng-container>

        <ng-container matColumnDef="dokumenteHochgeladen">
            <th mat-header-cell *matHeaderCellDef translate>DOKUMENTE_HOCHGELADEN_KURZ</th>
            <td mat-cell *matCellDef="let element" translate>{{element.dokumenteHochgeladen != null ?
                (element.dokumenteHochgeladen ? 'LABEL_JA' : 'LABEL_NEIN') :
                ''}}</td>
        </ng-container>

        <ng-container matColumnDef="angebot">
            <th mat-header-cell *matHeaderCellDef translate>ANGEBOT</th>
            <td mat-cell *matCellDef="let element">
                <span *ngFor="let angebot of element.angebote; index as i">{{angebot | translate}}{{i
                < element.angebote.length - 1 ? ',' : ''}}</span></td>
        </ng-container>

        <ng-container matColumnDef="institution">
            <th mat-header-cell *matHeaderCellDef translate>INSTITUTION</th>
            <td mat-cell *matCellDef="let element">{{element.institutionen}}</td>
        </ng-container>

        <ng-container matColumnDef="verantwortlicheTS">
            <th mat-header-cell *matHeaderCellDef translate><i class="fa fa-graduation-cap"></i>VERANTWORTLICH</th>
            <td mat-cell *matCellDef="let element">{{element.verantwortlicheTS}}</td>
        </ng-container>

        <ng-container matColumnDef="verantwortlicheBG">
            <th mat-header-cell *matHeaderCellDef translate><i class="fa fa-gift"></i>VERANTWORTLICH</th>
            <td mat-cell *matCellDef="let element">{{element.verantwortlicheBG}}</td>
        </ng-container>

        <ng-container matColumnDef="fall-filter">
            <th mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <input matInput (keyup)="filterFall($event.target.value)">
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="gemeinde-filter">
            <th mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <mat-select (selectionChange)="filterGemeinde($event.value)">
                        <mat-option selected><span translate>ALLE</span></mat-option>
                        <mat-option *ngFor="let gemeinde of gemeindenList"
                                    [value]="gemeinde.name">{{gemeinde.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="type-filter">
            <th mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <mat-select (selectionChange)="filterType($event.value)">
                        <mat-option selected><span translate>ALLE</span></mat-option>
                        <mat-option *ngFor="let type of getAntragTypen()" [value]="type">
                            <span translate>{{type}}</span></mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="status-filter">
            <th mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <mat-select (selectionChange)="filterStatus($event.value)">
                        <mat-option selected><span translate>ALLE</span></mat-option>
                        <mat-option *ngFor="let status of getAntragStatus()"
                                    [value]="status"><span translate>{{status}}</span></mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="angebote-filter">
            <th mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <mat-select (selectionChange)="filterAngebot($event.value)">
                        <mat-option selected><span translate>ALLE</span></mat-option>
                        <mat-option *ngFor="let angebot of getBetreuungsangebotTypen()"
                                    [value]="angebot"><span translate>{{angebot}}</span></mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="periode-filter">
            <th mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <mat-select (selectionChange)="filterPeriode($event.value)">
                        <mat-option selected><span translate>ALLE</span></mat-option>
                        <mat-option *ngFor="let periode of gesuchsperiodenList"
                                    [value]="periode">{{periode}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="dokumente-hochgeladen-filter">
            <th mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <mat-select (selectionChange)="filterDocumentsUploaded($event.value)">
                        <mat-option selected><span translate>ALLE</span></mat-option>
                        <mat-option [value]="true"><span translate>LABEL_JA</span></mat-option>
                        <mat-option [value]="false"><span translate>LABEL_NEIN</span></mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
        </ng-container>


        <ng-container matColumnDef="familie-filter">
            <th mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <input matInput (keyup)="filterFamilie($event.target.value)">
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="kinder-filter">
            <th mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <input matInput (keyup)="filterKinder($event.target.value)">
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="aenderungsdatum-filter">
            <th mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <input matInput (keyup)="filterGeaendert($event.target.value)">
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="institutionen-filter">
            <th mat-header-cell *matHeaderCellDef="let column">
                <mat-form-field>
                    <input matInput (keyup)="filterInstitution($event.target.value)">
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="verantwortlich-TS" st-table="">
            <th mat-header-cell *matHeaderCellDef="let column">
                <div dvNewUserSelect
                     [showSelectionAll]="true"
                     [angular2]="true"
                     [initialAll]="true"
                     (onUserChanged)="filterVerantwortlicheTS($event.user)"
                     [schulamt]="true"></div>
            </th>
        </ng-container>

        <ng-container matColumnDef="verantwortlich-BG" st-table="">
            <th mat-header-cell *matHeaderCellDef="let column">
                <div dvNewUserSelect
                     [showSelectionAll]="true"
                     [angular2]="true"
                     [initialAll]="true"
                     (onUserChanged)="filterVerantwortlicheBG($event.user)"
                     [sachbearbeiterGemeinde]="true"></div>
            </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-header-row
            *matHeaderRowDef="['fall-filter', 'gemeinde-filter', 'familie-filter', 'kinder-filter', 'type-filter','periode-filter',
            'aenderungsdatum-filter', 'status-filter', 'dokumente-hochgeladen-filter','angebote-filter', 'institutionen-filter',
            'verantwortlich-TS', 'verantwortlich-BG']"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>


    </table>
    <mat-paginator [pageIndex]="page"
                   [pageSize]="pageSize"
                   [length]="totalItems"
                   (page)="handlePagination($event)"></mat-paginator>
</div>
