
@import (reference) '../../../style/variables.less';

table {
    width: 100%;
}

tr.mat-header-row {
    height: 4rem;
}

mat-form-field {
    width: 100%;
}

::ng-deep .mat-form-field-infix {
    width: auto !important;
}

.fa-undo {
    &:hover {
        color: @primary;
        cursor: pointer;
    }
}

#titleText {
    display: inline-block;
}

#refreshIcon {
    display: inline-block;
    margin-left: 1rem;
}
