<div class="gesuch-modul">
    <h1 class="access-for-all-title" translate>AFA_GESUCHSFORMULAR</h1>
    <div class="row view-title">
        <div class="col-md-12">
            <h2>
                <span translate
                      [translateParams]="{gesuchsteller: getAntragstellerNameForCurrentStep(), basisjahr: getYearForDeklaration()}">FINANZIELLE_SITUATION</span>
            </h2>
            <hr class="header"/>
        </div>
    </div>

    <form #form="ngForm" class="gesuch">
        <dv-auszahlungsdaten [auszahlungsdaten]="model.zahlungsinformationen"
                             [auszahlungsdatenGS]="model.zahlungsinformationenGS"
                             [showAddress]="true">
        </dv-auszahlungsdaten>

        <ng-container *ngIf="isAlleinigesGesuch; then alleinigesGesuch"></ng-container>

        <ng-template #alleinigesGesuch>
            <dv-finanzielle-situation-single-gs [finSitJA]="getModel().finanzielleSituationJA"
                                                [finSitGS]="getModel().finanzielleSituationGS"
                                                [readonly]="gesuchModelManager.isGesuchReadonly()">
            </dv-finanzielle-situation-single-gs>

            <div class="row margin-bottom-20" *ngIf="isNotNullOrUndefined(getModel().finanzielleSituationJA.quellenbesteuert)">
                <div class="col-sm-6">
                    <dv-input-label-field
                        [model]="massgebendesEinkommen"
                        [labelMessageKey]="'FINANZIELLE_SITUATION_MASSGEBENDES_EINKOMMEN'"
                        [inputDisabled]="true">
                    </dv-input-label-field>
                </div>
            </div>
        </ng-template>
    </form>

    <dv-navigation-x (dvSave)="prepareSave($event.onResult)"
                     [dvNext]="true"
                     [dvPrevious]="true"
                     [dvSubStep]="getSubStepIndex()"
                     [dvSubStepName]="getSubStepName()"></dv-navigation-x>
</div>


