<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label class="required long-label" for="bruttolohn_id">
				{{'FINANZIELLE_SITUATION_BRUTTOLOHN' | translate}}
			</label>
			<input id="bruttolohn_id" type="number"
				   name="unterhaltsbeitraege"
                   #unterhaltsbeitraege="ngModel"
				   [(ngModel)]="model.finanzielleSituationJA.bruttoLohn"
				   class="form-control"
				   [disabled]="gesuchModelManager.isGesuchReadonlyForRole()"
				   required>
			<dv-error-messages
					[errorObject]="unterhaltsbeitraege.errors"
					inputId="bruttolohn_id">
			</dv-error-messages>
			<dv-bisher-x [deklaration]="model.finanzielleSituationGS?.bruttoLohn"
						 [korrektur]="model.finanzielleSituationJA.bruttoLohn"
						 [showIfBisherNone]="isNotNullOrUndefined(model.finanzielleSituationGS)"></dv-bisher-x>
		</div>
	</div>
</div>